.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home{
  width:100%;
  height: 100%;
 background-color: #1F2A4C;

}
.main-image{
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://s3-alpha-sig.figma.com/img/536c/8cc0/19af9914fd389874fa40c450f8465269?Expires=1579478400&Signature=WjWV9Ds9bDm1rxfXplkyGfklfXMjerm~uw338q8DJYfe1jampDHI2T0sGfEWTQj5bT~25rcryhw3n8K1oKmpnN9mKdlj30AKjW1Ryf7AYkDoBtpWG~slGoP5TV9N5oWrnCdUchFDyEvD-sjjmcpkMReODH284d4RJaxTEVd73qiWoCJkU5R3gUqTKFRX-k3RLPbHQwlG~99tIrqSyIbVYN7b8nFuKV0f1sWqM9bz1dKJbbd0H9upCEe79HHHycQKoGPHdbjMwWK2AQRFkQJc1RCoShEHFraouOqC8qwO3xQwKWdLw-eeoxgoOv0bp6p97~7WRBLRC4jl9s6gVcLnVQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  */
  margin: 0 1%;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.image-text{
  text-align: center;
  position: absolute;
  top: 20%;
  left: 27%;
  transform: translate(-50%, -50%);
  color: #1F2A4C;
  font-size: 2rem
}
.image-text-small{
  text-align: center;
  position: absolute;
  top: 60%;
  left: 23%;
  transform: translate(-50%, -50%);
  color: #1F2A4C;
  font-size: 1.6rem;
  font-weight: bold;
}



{/* Nav Bar CSS */}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.nav-content {
  /* position: absolute; */
  width: 100%;
  height: 84px;
  left: 0px;
  top: 0px;
  color: #d8e7ed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 0 16px; */
  /* margin: 1rem; */
  z-index: 9999;

  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 141%;
  /* position: fixed; */
  /* Dark Accent */

  background: #1f2a4c;
}
.nav-content a {
  text-decoration: none;
  color: #d8e7ed;
}
button {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  cursor: pointer;

  max-width: width 250px;
  margin: 32px 0;
  padding: 12px 20px;
  border-style: none;

  font-family: Maven Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  background: #7faecc;
  border-radius: 8px;
}

.md-button:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.md-button:disabled {
  color: rgba(0, 0, 0, 0.38);
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: none;
  cursor: initial;
}

.md-button::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: currentColor;
  opacity: 0;
  transition: opacity 0.2s;
}
.md-button:focus {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.md-button:hover::before {
  opacity: 0.12;
}

.md-button:focus::before {
  opacity: 0.2;
}

.md-button:active::before {
  opacity: 0.32;
}

.md-button:disabled::before {
  opacity: 0;
}

.pictureLogin{
  width: 100%;
}
.newAccount-form {
  position: absolute;
  width: 30%;
  height: 100%;
  left: 50%;
  top: 25%;

  margin: auto 80px;
  padding: 32px;
  font-weight: bold;

  /* Background color */

  background: #f1f3f6;
  backdrop-filter: blur(10px);
}

.createOne{
  
  padding: 0 10%;
  font-size: 1.6rem;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: solid #282c34;
}
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 32px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: grey;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #7faecc;
}
input,
textarea {
  left: 0%;
  right: 0%;
  top: 28%;
  bottom: 0%;
  padding: 0.5rem;
  font-size: 16px;
  text-align: left;
  width: 100%;
  display: block;

  background: #ffffff;
  border-radius: 3px;
  left: 0%;
  right: 44.44%;
  top: 0%;
  bottom: 68%;

  /* Paragraph/ 16px/ web */

  font-family: Maven Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 148%;

  color: #495057;
}
input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

input.error {
  border-color: red;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}
img {
  max-width: 100%;
  max-height: 80%;
  display: flex;
  align-items: flex-start;

  padding: 32px;
}
.bottom {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
.bottom a {
  text-decoration: none;
  font-size: 1rem;
  color: red;
  padding: 2%;
}
a:hover {
  color: #7faecc;
}

.navigation{
  padding-bottom: 2%;
}

{/* New Account Form */}

.newAccount-form{
  
}


{/* Cart CSS */}

.cart{
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  width: 100%;
  
}
.cart-title{
  font-size: 1.8rem;
  font-weight: bold;
  border: 1px solid black;
  padding-top: 5%;
  padding-left: 8%;
  padding-bottom: 5%;
  display:flex;
  justify-content: flex-start;
  
}

.cart-checkout{
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

.cart-list{
  border: 1px solid orange;
}

.orderSummary{
  background-color:#1F2A4C;
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
}
.totalCart{
  border: 1px solid blue;
  background-color: #F1F3F6;
  margin-right: 4%;
}

/* INVENTORY */

.inventory{
  display:flex;
  flex-wrap:wrap;
  
  justify-content: space-between;
}

.item{
  border: 1px solid black;
  width: 28%;
  height: 35%;
}